<template>
  <div class="simulation">
      <div class='motivationArea'>
        <div class='motivationBar' v-bind:style="{ 'height':motivationService.motivation.drive + '%' }" />
      </div>
      <div class='taskArea'>
        <div class='task' v-for="task in motivationService.motivation.tasks" v-bind:key="task.id">
          <h1 class='title'>{{ task.name }}</h1>
          <button class='triggerButton' @mousedown="charge" @mouseup="trigger(task.name)" @mouseleave="trigger(task.name)">trigger</button>
          <div class='taskBlockade' v-bind:style="{ 'height' : motivationService.motivation.blockades + task.blockades + '%'}" />
          <div class='taskInterest' v-bind:style="{ 'height': task.interest + '%'}" />
          <div class='taskMotivation' v-bind:style="{ 'height': task.motivation + '%'}" />
        </div>
      </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { MotivationService } from "../services/motivationService";

export default Vue.extend({
  data() {
    return {
      motivationService: new MotivationService(70, 20),
      chargeValue: 0
    };
  },
  mounted () {
    this.motivationService.initializeTask('drawing', 60, 10)
    this.motivationService.initializeTask('homework', 10, 20)
    this.motivationService.start()
  },
  methods: {
    charge() {
      setInterval(() => {
        if (this.chargeValue < 100) {
          this.chargeValue++
        }
      },25)
    },
    trigger(taskName:string) {
      this.motivationService.trigger(this.chargeValue, taskName)
      this.chargeValue = 0
      clearInterval()
    }
  }
});
</script>

<style lang="css">
@import "../assets/style.css";
</style>
