html, body {
    margin: 0px;
    height: 100%;
    font-family: arial;
    overflow: hidden;
    background-color: lightcyan;
  }

.simulation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.motivationArea {
    width: 20%;
    position: relative;
}

.motivationBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: green;
    border: 1px solid darkgreen;
}

.taskArea {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.task {
    flex: 1;
    height:100%;
    position: relative;
}
.taskBlockade {
    background-color: pink;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 1px solid red;
}
.taskInterest {
    position: absolute;
    bottom: 0px;
    left: 40%;
    width: 20%;
    background-color: white;
    border: 1px solid gray;
}
.taskMotivation {
    position: absolute;
    bottom: 0px;
    left: 40%;
    width: 20%;
    background-color: lightgreen;
    border: 1px solid green;
}
.title {
    text-align: center;
}
.triggerButton {
    margin-left:40%;
}